.header__container {
    background-image: url('../../assets/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 12vh;
    width: 100%;


    background-color: royalblue;

    display: grid;
    grid-template-areas: "menu title";
    grid-template: 1fr / 10% 1fr;
    justify-content: center;
    align-items: center;
}

.header__icon {
    /* background-color: fuchsia; */
    justify-self: center;
    /* align-self: auto; */
}

.header__title {
    /* background-color: gold; */

    text-shadow: 2px 3px 3px rgba(255, 80, 0, 0.49);

    text-align: center;


    /* font-family: SegoeUI; */
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.34; */
    /* letter-spacing: normal; */
    /* text-align: left; */
    color: #ff5000;

    grid-area: title;
}


/* Teléfonos pequeños */
@media screen and (min-width: 320px) {
    .header__title {
        font-size: 25px;
    }
}

/* Teléfonos promedio */
@media screen and (min-width: 480px) {
    .header__title {
        font-size: 35px;
    }
}

/* Tablet promedio */
@media screen and (min-width: 768px) {
    .header__title {
        font-size: 47px;
    }
}


/* Desktop pequeño */
@media screen and (min-width: 992px) {
    .header__container {
        display: flex;
    }

    .header__title {
        font-size: 70px;
    }

    .header__container>div>svg {
        display: none;
    }

    .header__container {
        height: 18vh;
    }

    .header__container>div>svg {
        display: none;
    }
}

/* Desktop grande */
@media screen and (min-width: 1200px) {}