.myButton.MuiButton-contained {
    background-color: #FF5000;
    border-radius: 15px;
    color: white;

    margin-bottom: 10px;

    width: 60%;

    align-self: center;



}

.myButton.MuiButton-contained:hover {
    background-color: #ff5100;
    color: black;

    box-shadow: 0 0 5px rgb(0, 0, 0);


}