.character__container {
    display: grid;
    grid-template-areas: "photo""info""button";
}


.char__name {
    font-weight: bold;
}

.character__spinner {
    background-color: red;

    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

}

/* Teléfonos pequeños */
@media screen and (min-width: 320px) {
    .character__container {
        font-size: 1.3rem;
    }

    .character__image {
        padding: 10px;

        grid-area: photo;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .character__image img {
        border-radius: 26px;
        box-shadow: 0 3px 15px 0 rgba(255, 80, 0, 0.9);

        width: 90%;
        height: 90%;
    }

    .character__info {
        justify-self: flex-start;

        margin-left: 10%;

        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .character__button {
        grid-area: button;

        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* Teléfonos promedio */
@media screen and (min-width: 480px) {}

/* Tablet promedio */
@media screen and (min-width: 768px) {
    .character__container {
        font-size: 1.6rem;

        grid-template-areas: "photo info""button button";
    }

    .character__info {
        width: 100%;

        justify-content: space-evenly;
        align-items: flex-start;
    }

}

/* Desktop pequeño */
@media screen and (min-width: 992px) {}

/* Desktop grande */
@media screen and (min-width: 1200px) {
    .character__image img {
        width: 70%;
        height: 90%;
    }

    .character__info {
        width: auto;
    }


}