.home__spinner {
    /* background-color: red; */

    width: 100%;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home__searchbar {
    /* background-color: red; */

    margin: 10px 0;

    display: flex;
    justify-content: center;

    position: sticky;
    top: 10px;

    z-index: 10;
}

.home__load--btn {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Teléfonos pequeños */
@media screen and (min-width: 320px) {
    .home__searchbar input {
        background-color: white;
        border-radius: 15px;

        width: 70vw;
    }
}

/* Teléfonos promedio */
@media screen and (min-width: 480px) {}

/* Tablet promedio */
@media screen and (min-width: 768px) {}

/* Desktop pequeño */
@media screen and (min-width: 992px) {
    .home__searchbar {
        display: none;
    }
}

/* Desktop grande */
@media screen and (min-width: 1200px) {}